<ion-header>
  <ion-toolbar color = "danger">
    <ion-title>
      Tickets
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-card class = "ticket">
      <ion-card-header>
          <ion-grid>
              <ion-row>
                <ion-col>
                  <p>Seccion</p>
                </ion-col>
                <ion-col>
                  <p>Asiento</p>
                </ion-col>
                <ion-col>
                  <p>Tipo</p>
                </ion-col>
              </ion-row>
            </ion-grid>
      </ion-card-header>
          <ion-card-content>
              <ion-grid>
                  <ion-row>
                    <ion-col>
                     <p>14/03/2019</p>
                    </ion-col>
                    <ion-col>
                    <p>Valor $10.000</p>
                    </ion-col>
                  </ion-row>
                </ion-grid>


                <div class = "footer">
                  <ion-grid>
                      <ion-row>
                              <ion-card-title>Paloma Mami</ion-card-title>
                              <ion-card-subtitle>Gimnasio Maria Gallardo</ion-card-subtitle>
                      </ion-row>
                  </ion-grid>
                </div>

                  <div class= "foot">
                        <img class = "resize" src="/assets/images/qr.png"><img>
                  </div>
          </ion-card-content> 
    </ion-card>
  </ion-list>

</ion-content>
