ion-card-header{
    background-color: #D84339;


    p{
        color: #FFFFFF;
    }
}

.ticket{
    background-color: #FFFFFF;
    margin-left: 30px;
    margin-right: 30px;
    align-content: center;
    text-align: center;
  }

.foot{
    .resize{
        display: block;
        margin: 0 auto;
        height:150px;
        width: 150px;
    }   
}

.footer{
    ion-row{
        display: block;
        margin: 0 auto;
        align-content: center;
        text-align: center;
        align-items: center;
    }
}