<ion-header>
  <ion-toolbar color = "danger">
    <ion-title>
      Eventos Proximos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/images/paloma.jpg"></ion-img>

      <ion-card-header>
        <ion-card-subtitle>223 Tickets Vendidos</ion-card-subtitle>
        <ion-card-title>Paloma Mami</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
    </ion-card>
    <br>
    <ion-card class="welcome-card">
      <ion-img src="/assets/images/avello.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>53 Tickets Vendidos</ion-card-subtitle>
        <ion-card-title>Felipe Avello</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
    </ion-card>
    <br>
    <ion-card class="welcome-card">
      <ion-img src="/assets/images/chanchos.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>491 Tickets Vendidos</ion-card-subtitle>
        <ion-card-title>Chancho en Piedra</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
    </ion-card>
</ion-content>


