.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
  
}

.welcome-card{
  background-color:#F4F2F0;
  margin-left: 7px;
  margin-right: 7px;
}

ion-content{

  --ion-background-color:#373234;
}
