<ion-header>
  <ion-toolbar color = "danger">
    <ion-title text-center >Kimelu App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <img class = "icon" src = "assets/icon/stocard.png" alt = "">

  <ion-item>
    <ion-label position = "floating">Email</ion-label>
    <ion-input type = "text" [(ngModel)]="email" name = "email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position = "floating">Password</ion-label>
    <ion-input type = "password" [(ngModel)]="password" name = "password"></ion-input>
  </ion-item>
  <br>
  <ion-button (click) = "onSubmitLogin()" color="danger" expand = "block">Login</ion-button>

</ion-content>
